server {
	listen 80 default;
    {{SSL_CONFIG}}
	server_name {{WEB_DOMAIN}};

	charset utf8;

	location / {

      proxy_set_header        Host $host;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;

      # Fix the “It appears that your reverse proxy set up is broken" error.
      proxy_pass          http://{{SSL_BACKEND}};
#      proxy_pass          http://nginx:80;
      proxy_read_timeout  90;

      proxy_redirect      http://{{SSL_BACKEND}} https://{{WEB_DOMAIN}};
#      proxy_redirect      http://nginx:80 https://{{WEB_DOMAIN}};
    }
}
