map $http_host $magecode {
	{{MAGE_CODE_1}}
	{{MAGE_CODE_2}}
	{{MAGE_CODE_3}}
	{{MAGE_CODE_4}}
	{{MAGE_CODE_5}}
}

map $http_host $magetype {
	{{MAGE_TYPE_1}}
	{{MAGE_TYPE_2}}
	{{MAGE_TYPE_3}}
	{{MAGE_TYPE_4}}
	{{MAGE_TYPE_5}}
}



server {
	listen 80 default;
    {{SSL_CONFIG}}
	server_name {{WEB_DOMAIN}};

	charset utf8;

	root   /var/www/html;

	location / {
		index index.html index.php;
		try_files $uri $uri/ @handler;
		expires 30d;
	}

	location ^~ /app/                { deny all; }
	location ^~ /includes/           { deny all; }
	location ^~ /lib/                { deny all; }
	location ^~ /media/downloadable/ { deny all; }
	location ^~ /pkginfo/            { deny all; }
	location ^~ /report/config.xml   { deny all; }
	location ^~ /var/                { deny all; }

	location /var/export/ {
		auth_basic           "Restricted";
		auth_basic_user_file htpasswd;
		autoindex            on;
	}

	location /ssl {
		return 404;
	}

	location  /. {
		return 404;
	}

	location @handler {
		rewrite / /index.php;
	}

	location ~ .php/ {
		rewrite ^(.*.php)/ $1 last;
	}

	location ~ .php$ {
		if (!-e $request_filename) { rewrite / /index.php last; }

		expires        off;

		fastcgi_pass    fastcgi_backend;
		# fastcgi_split_path_info ^(.+\.php)(/.*)$;
		include         fastcgi_params;
		fastcgi_param   SCRIPT_FILENAME    $realpath_root$fastcgi_script_name;
		fastcgi_param   SCRIPT_NAME        $realpath_root;
		#fastcgi_param   HTTPS off;

#		fastcgi_read_timeout {{FASTCGI_READ_TIMEOUT}};
        fastcgi_read_timeout 600;

        fastcgi_param  MAGE_RUN_CODE $magecode; ## Store code is defined in administration > Configuration > Manage Stores
        fastcgi_param  MAGE_RUN_TYPE $magetype; ## store; # or store?

	}
}
